In [2]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from tensorflow.keras.models import load_model
from math import sqrt
from sklearn.metrics import mean_squared_error

2024-03-07 19:05:58.031066: I external/local_tsl/tsl/cuda/cudart_stub.cc:31] Could not find cuda drivers on your machine, GPU will not be used.
2024-03-07 19:05:58.061997: E external/local_xla/xla/stream_executor/cuda/cuda_dnn.cc:9261] Unable to register cuDNN factory: Attempting to register factory for plugin cuDNN when one has already been registered
2024-03-07 19:05:58.062021: E external/local_xla/xla/stream_executor/cuda/cuda_fft.cc:607] Unable to register cuFFT factory: Attempting to register factory for plugin cuFFT when one has already been registered
2024-03-07 19:05:58.062808: E external/local_xla/xla/stream_executor/cuda/cuda_blas.cc:1515] Unable to register cuBLAS factory: Attempting to register factory for plugin cuBLAS when one has already been registered
2024-03-07 19:05:58.067391: I external/local_tsl/tsl/cuda/cudart_stub.cc:31] Could not find cuda drivers on your machine, GPU will not be used.
2024-03-07 19:05:58.068103: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
2024-03-07 19:05:58.756107: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT

In [3]:
stock_data = pd.read_csv('/home/ayarkhan01/Desktop/Projects/stock_data_final.csv')

In [4]:
stock_data['Date'] = pd.to_datetime(stock_data['Date'])
stock_data.set_index('Date', inplace=True)

/tmp/ipykernel_262/1250480754.py:1: FutureWarning: In a future version of pandas, parsing datetimes with mixed time zones will raise an error unless `utc=True`. Please specify `utc=True` to opt in to the new behaviour and silence this warning. To create a `Series` with mixed offsets and `object` dtype, please use `apply` and `datetime.datetime.strptime`
  stock_data['Date'] = pd.to_datetime(stock_data['Date'])

In [5]:
model = load_model("/home/ayarkhan01/Desktop/Projects/model_name.keras")

In [8]:
scaler = MinMaxScaler(feature_range=(0, 1))
scaled_data = scaler.fit_transform(stock_data)

In [11]:
last_60_days_scaled.shape

(60, 9)

In [12]:
X_last_60_days.shape

(1, 60, 9)

In [15]:
stock_data.shape

(3381, 9)

In [9]:
last_60_days = stock_data.tail(60)

# Scale the last 60 days of data using the fitted scaler
last_60_days_scaled = scaler.transform(last_60_days)

# Reshape this data to match the LSTM model's input shape
X_last_60_days = last_60_days_scaled.reshape((1, 60, stock_data.shape[1]))

# Predict the scaled close price for the next day
predicted_close_scaled = model.predict(X_last_60_days)

# Prepare a composite array for inverse transformation
composite_array = np.zeros((1, stock_data.shape[1]))

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 198ms/step

In [11]:
close_idx = stock_data.columns.get_loc("Close")  # Replace "Close" with the exact column name as in your DataFrame

# Insert the predicted scaled 'close' price into the composite array
composite_array[0, close_idx] = predicted_close_scaled[0, 0]

# Inversely transform the composite array to get the original scale of data
predicted_close_unscaled = scaler.inverse_transform(composite_array)[0, close_idx]

print(f"Predicted next day's close price: {predicted_close_unscaled}")

Predicted next day's close price: 175.3484216480328

In [12]:
stock_data

,High,Low,Close,Volume,sma,ema,rsi,bolinger_upper,bolinger_lower
Date,,,,,,,,,
2010-01-04 00:00:00-05:00,6.485558,6.421458,6.470742,493729600,NaN,6.470742,NaN,NaN,NaN
2010-01-05 00:00:00-05:00,6.518514,6.447762,6.481928,601904800,NaN,6.472463,NaN,NaN,NaN
2010-01-06 00:00:00-05:00,6.507628,6.372172,6.378824,552160000,NaN,6.458057,NaN,NaN,NaN
2010-01-07 00:00:00-05:00,6.409968,6.320772,6.367033,477131200,NaN,6.444053,NaN,NaN,NaN
2010-01-08 00:00:00-05:00,6.409967,6.321075,6.409362,447610800,NaN,6.438716,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
2023-06-02 00:00:00-04:00,181.064957,178.554865,180.238220,61945900,173.623037,175.279607,75.119967,179.032684,168.213390
2023-06-05 00:00:00-04:00,184.222483,177.339661,178.873611,121946500,173.934295,175.832531,71.396000,179.804584,168.064006
2023-06-06 00:00:00-04:00,179.411490,176.732069,178.505081,64848400,174.230608,176.243693,69.921917,180.403301,168.057914
2023-06-07 00:00:00-04:00,180.497209,176.622511,177.120544,61944600,174.543734,176.378593,63.723939,180.630849,168.456619
2023-06-08 00:00:00-04:00,180.128653,176.761959,179.859726,50214900,174.904795,176.914152,64.465446,181.361520,168.448070